HELP.md
target/
global-bundle.pem
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
.history/
*.code-workspace

# --- Windows System Files ---
Thumbs.db
desktop.ini
$RECYCLE.BIN/

# --- Database / Environment ---
# Never push your actual secrets or local DB data
.env
*.sql
*.temp

# --- Flyway ---
# Only ignore Flyway if you use a local config file for credentials
# .flyway.conf

# --- OS X (In case teammates use Mac) ---
.DS_Store
.AppleDouble
.LSOverride